html, body {
    height: 100%;
    width: 100%;
}

#download-container {
    width: 400px;
    height: 400px;
    background-color: rgb(96, 40, 40);
    box-shadow: 0 0 30px white;
}

#dl-link {
    color: rgb(255, 255, 255);
}

#dl-link:hover {
    filter: brightness(0.5);
    transition: 0.1s;
}